/* Fondo general */
.login-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f1e7;
}

/* Animación de entrada */
.login-card {
  width: 400px;
  height: 405px;
  padding: 5px 25px 25px;
  background: #fff8f0;
  border-radius: 14px;
  border: 2px solid #c49a6c;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #5a3825;
  opacity: 0;
  transform: translateY(-15px);
  transition: all 0.5s ease;
  padding-bottom: 8px;
}

.login-card.mostrar {
  opacity: 1;
  transform: translateY(0px);
  align-items: center;
}

.login-logo {
  width: 150px;
  height: 150px;
  display: block;
  object-fit: fill;
  border-radius: 10%;
  border: 2px solid #c49a6c;
  margin-top: 10px;
}

.int {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: auto;
  padding-bottom: 10px;
}

/* Título */
.login-card h2 {
  margin: 5px auto;
  text-align: center;
  color: #5a3825;
  font-weight: bold;
}

/* Estilo Base para Inputs (Usuario y Password) */
.login-input {
  width: 60%; /* Tamaño unificado */
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #c49a6c;
  background: #fff;
  font-size: 16px;
  color: #5a3825;
  outline: none;
  box-sizing: border-box; /* Evita que el padding ensanche el input */
}

.login-input:focus {
  border-color: #8b5e34;
}

/* Contenedor del Password */
.password-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-password {
  width: 100% !important; /* Llena el 100% de su grupo (que ya es 85%) */
  padding-right: 40px !important;
}

/* Botón de Ver/Ocultar con Icono */
.btn-toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c49a6c;
  cursor: pointer;
  transition: color 0.2s;
  z-index: 10;
}

.btn-toggle-password:hover {
  color: #8b5e34;
}

/* Botón de Entrar */
.btn-entrar {
  padding: 10px;
  background: #8b5e34;
  color: #fff8f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: 0.25s ease;
  width: 45%; /* Un poco más grande para el texto "Entrar" */
  margin-top: 5px;
}

.btn-entrar:hover {
  background: #5a3825;
}

/* Error */
.error {
  color: #b33939;
  text-align: center;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Ocultar scrollbar */
body::-webkit-scrollbar {
  width: 0;
}

/* Ocultar ojo nativo de Windows/Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}