.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-proveedor {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.btn-agregar {
  margin-bottom: 20px; /* separa el botón de la tabla */
  width: 200px;
}

.paginacion {
   margin-top: auto;          /* 👈 empuja la paginación hasta abajo */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

